<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Flavors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>

    @for (flavor of flavors; track flavor.name) {
      <app-flavor
        [flavor]="flavor"
        [totalScoops]="totalScoops"
        [maxScoops]="maxScoops">
      </app-flavor>
    }

    <!-- MESSAGE ERREUR -->
    <ion-row *ngIf="isMaxReached" style="margin-top: 10px;">
      <ion-col>
        <ion-text color="danger">
          <strong>Maximum scoops reached (5)</strong>
        </ion-text>
      </ion-col>
    </ion-row>

    <!-- SECTION : CONTAINER -->
    <ion-row style="margin-top: 30px;">
      <ion-col>
        <h2>Select container</h2>
      </ion-col>
    </ion-row>

    <ion-radio-group [(ngModel)]="selectedContainer" ngDefaultControl>
      @for (container of containers; track container.type) {
        <ion-row style="margin-bottom: 10px; align-items:center;">

          <ion-col size="auto">
            <ion-radio
              [value]="container.type"
              [disabled]="container.stock <= 0">
            </ion-radio>
          </ion-col>

          <ion-col>
            <ion-label>
              {{ container.type | titlecase }} ({{ container.price }}€)
            </ion-label>
          </ion-col>

          <!-- ICÔNE ROUGE SI ÉPUISÉ -->
          <ion-col size="auto">
            <ion-icon
              *ngIf="container.stock <= 0"
              name="alert-circle"
              color="danger">
            </ion-icon>
          </ion-col>

        </ion-row>
      }
    </ion-radio-group>

    <!-- SECTION : EXTRAS -->
    <ion-row style="margin-top: 30px;">
      <ion-col>
        <h2>Extras</h2>
      </ion-col>
    </ion-row>

    @for (extra of extras; track extra.name) {
      <ion-row style="margin-bottom: 10px; align-items:center;">

        <ion-col size="auto">
          <ion-checkbox
            [(ngModel)]="selectedExtras[extra.name]"
            labelPlacement="end"
            [disabled]="extra.stock <= 0">
            {{ extra.name }} ({{ extra.price }}€)
          </ion-checkbox>
        </ion-col>

        <!-- Alert SI ÉPUISÉ -->
        <ion-col size="auto">
          <ion-icon
            *ngIf="extra.stock <= 0"
            name="alert-circle"
            color="danger">
          </ion-icon>
        </ion-col>

      </ion-row>
    }

    <!-- PRICE SECTION  -->
    <ion-row style="margin-top: 20px;">
      <ion-col>
        <h2>Price</h2>
      </ion-col>
      <ion-col size="auto">
        <strong>€ {{ totalPrice | number:'1.2-2' }}</strong>
      </ion-col>
    </ion-row>

    <!-- BOUTON CREATION GLACE -->
    <ion-row style="margin-top: 26px;">
      <ion-col>
        <ion-button
          expand="block"
          (click)="makeIceCream()"
          [disabled]="!canMakeIceCream">
          Make ice cream
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
